.slide{
    display:flex;
    flex-wrap:nowrap;
    overflow: hidden;
    position: relative;
    width:411px;
    height:211px;
}

.slide_item{
    display:flex;
    left:0px;
    align-items: center;
    justify-content: center;
    position:absolute;
    flex-shrink: 0;
    transition:left 2s;
}